<div class="screen signup">
	<div class="picture">
	</div>
	<div class="body">	
		<div class="form">
		    <%= form_with(url: '/register', method: 'post') do |f| %>
                <div class="information">
                    <%= f.text_field :name, placeholder: "ユーザー名" %>
                    <%= f.email_field :email, placeholder: "メールアドレス" %>
                    <%= f.password_field :password, placeholder: "パスワード" %>
                    <%= f.password_field :password_confirmation, placeholder: "パスワード確認" %>
                 </div>
                <%= f.submit '登録', class: "btn btn-minorcolor mt-3" %>
            <% end %>
		</div>
	</div>
    <div class='login'>
            <a href='/'>Sophistockにログイン</a>
    </div>
</div>