<div class="screen top">

	<div class="top-picture">
		<%= image_tag("top/top.png", alt: "title") %>
	</div>

	<div class="login-body">	
		<div class="form_all">
			<%= form_with(url: '/login', method: 'post') do |f| %>
    			<%= f.label "メールアドレス" %>
    			<%= f.email_field :email %>
    			<%= f.label "パスワード" %>
    			<%= f.password_field :password %>
    			<!--仮実装-->
    			<div class="autolog">
					<input type="checkbox" name="forever_login" id="auto_login"><label for="auto_login">次回から自動ログイン</label>
				</div>
    			<%= f.submit "ログイン",class: "btn btn-primary" %>
			<% end %>
			<div class="forget">
				パスワードを忘れた場合
			</div>
		</div>
		<div class="register">
			<a href='/signup'>Sophistockに登録</a>
		</div>
	</div>
</div>