<div class="screen top">
	<div class="picture">
		<%= image_tag("session/top.png", alt: "title") %>
	</div>
	<div class="body">	
		<div class="form">
			<%= form_with(url: '/login', method: 'post') do |f| %>
				<div class="mail-pass">
					<%= f.label :メールアドレス %>
    				<%= f.email_field :email %>
    				<%= f.label :パスワード %>
    				<%= f.password_field :password  %>
    			</div>
    			<!--仮実装-->
				<div class='auto-container mt-2'>
					<label for="auto-login">
						<input class='mr-1' type="checkbox" id="auto-login">
						次回から自動ログイン
					</label>
					
				</div>
    			<%= f.submit "ログイン", class: "btn btn-maincolor" %>
			<% end %>
		</div>
		<a class='mt-2' href='#'>パスワードを忘れた場合</a>
	</div>
	<div class="signup-link mb-4">
		<a href='/signup'>Sophistockに登録</a>
	</div>
</div>