<div class='screen posts-new'>
    <% provide :top, "新規作成" %>
	<%= render '/layouts/header' %>
	<div class='info'>
		<%= form_with(model: Post.new, url: '/posts', multipart: true) do |f| %>
			<div class="title">
    			<%= f.label :title, '記事を書く'%>
    			<%= f.text_field :title, placeholder: "タイトル" %>
    		</div>
    		<div class="content">
    			<%= f.label :content, '内容' %>
    			<%= f.text_area :content %>
    		</div>
    		<div class="picture">
    			<%= f.file_field :picture %>
    		</div>
    		<div class="post">
    			<%= f.submit "投稿", class: "btn btn-maincolor" %>
    		</div>
		<% end %>
	</div>
	<%= render '/layouts/footer' %>
</div>