<div class='screen show_post' style='padding-top: 50px; padding-bottom: 50px;'>
	<%= render '/layouts/header' %>
	<div class="info">
		<div class="title">
			<h2 class="mb-0"><%= @post.title %></h2>
			<p class="mb-0"><%= @post.created_at.strftime('%Y/%m/%d') %></p>
			<p class="mt-0"><%= @user.name %>が作成</p>
		</div>
		<div class="content">
			<p><%= @post.content %></p>
			<image src='<%= @post.picture %>'/>
			<%= @post.picture %>
		</div>
		<div class="edit">
			<span>
				<% if @post.user.id == @current_user.id %>
					<%= link_to "編集", "/posts/#{@post.id}/edit", method: :get %>
					<%= link_to "削除", "/posts/#{@post.id}", method: :delete, data: {confirm: "本当に削除していいですか?"} %>
				<% end %>
				<span class="back">
					<%= link_to "戻る", :back %>
				</span>
			</span>
		</div>
	</div>
	<%= render '/layouts/footer' %>
</div>