<div class='screen edit_screen' style='padding-top: 60px; padding-bottom: 50px;'>
    <%= render '/layouts/header' %>
    <div class='content'>
        <span><%= @current_user.name %></span>
        <span class='mb-3'><%= @current_user.posts.count %> posts</span>
        <div class='nav-bar'>
            <a href="#">
                <div class="nav-item posts">投稿</div>
            </a>
            <a href="#">
                <div class="nav-item profile active">プロフィール</div>
            </a>
            <a href="#">
                <div class="nav-item comment">コメント</div>
            </a>
            <a href="#">
                <div class="nav-item good">いいね</div>
            </a>
        </div>
        <div class="form">
            <h3 class="mt-3 mb-3">プロフィール編集</h3>
            <%= form_with(url: '/users/edit', method: 'post') do |f| %>
                <%= f.text_area :introduction  %>
                <%= f.submit "編集完了", class: "btn mt-1" %>
            <% end %>
        </div>
    </div>
    <%= render '/layouts/footer' %>
</div>