<div class='screen users-post' style='padding-top: 50px; padding-bottom: 50px;'>
	<%= render '/layouts/header' %>
    <div class='content'>
    	<%= render '/layouts/profile-nav1' %>
        <ul class="timeline">
        	<% @my_posts.each do |post| %>
    			<li>
    				<div class="title">
      					<h2 class="mt-0 mb-0">
      						<%= link_to post.title, {:controller => "post", :action => "show", :id => post.id} %>
      					</h2>
      				</div>
      				<div class="content">
      					<%= truncate(post.content, :length => 50, :omission => "...さらに見る") %>
      				</div>
      				<div class="bonus">
      					Posted by <%= post.user.name %>
      					<%= post.created_at.strftime('%Y/%m/%d') %>
      				</div>
    			</li>
  			<% end %>
        </ul>
    </div>
    <%= render '/layouts/footer' %>
</div>